/* google font */
.font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #AAAAAA;
}

/* main container */
.container{
    width: 95%;
    max-width: 1200px;
    margin:0 auto;
}

.hide{
    display: none;
}

/* shared style */

.mobile-header{
    display: none;
}

.heading-1{
    font-size: 1.75rem;
    font-weight: bold;
    color: #18191F;
}

.heading-2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}


.paragraph-1{
    font-size: 0.87rem;
    font-weight: bold;
}


/* main style */

/* header-section */

.header-section{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 50px;
}

.header-section ul{
    display: flex;
    list-style: none;
    gap: 34px;
}

.header-section ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}

/* hero section */
.hero-section{
    display: flex;
    justify-content: space-between;
    gap: 133px;
    margin-bottom: 100px;
}

.hero-tittle h1{
    font-size: 3.25rem;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-tittle p{
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.hero-button{
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    cursor: pointer;
}

.hero-images{
    position: relative;
}

.hero-img1{
   width: 475px;
    height: 475px;
    object-fit: contain;
}

.hero-img2 {
    position: absolute;
    bottom: 36px;
    right: 19px;
    width: 440px;
    height: 414px;
    z-index: 1;
    filter: drop-shadow(0 15px 30px rgba(0,0,0,0.25));
}

/* logo section */
.logos {
    display: flex;
    padding: 36px 62px;
    background-color: rgba(194, 193, 197, 1);
    border-radius: 4px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


/* popular-collection */

.popular-collection{
    margin-bottom: 100px;
}

.collection-card-all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.popular-collection h2{
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    color: #3A3A3A;
}


.card{
    padding: 17px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.card img{
    width: 100%;
}

.card h5{
    margin-top: 16px;
    margin-bottom: 6px;
}

.card h4{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 5px;
}

.star{
    margin-bottom: 5px;
}

.star i{
    color: #FB8200;
    font-size: 0.87rem;
}

.rating{
    font-size: 0.87rem;
    color: #5E6366;
}

.card p{
    font-size: 0.87rem;
    color: #787885;
    line-height: 143%;
}

.see-more{
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}


/* feature section */
.feature{
    display: flex;
    gap: 96px;
    margin-bottom: 100px;
}

.feature-tittle h2{
    font-size: 2.3rem;
    color: #0A0826;
    margin-bottom: 16px;
}

.feature-tittle p{
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
    line-height: 28px;
    margin-bottom: 16px;
}

.feature-button{
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
}


/* footer section */
footer{
    background-color: #0A0826;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.footer-section h2{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 3px;
}

.footer-section p{
    color: #D9DBE1;
    font-size: 0.87rem;
    margin-bottom: 3px;
}

.social{
    margin-top: 17px;
    display: flex;
    gap: 16px;
}

.social div{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0C2C55;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social div i{
    color: white;
}

/* ----------------responsive code-------------------------- */

/* mobile responsive */
@media screen and (max-width: 576px) {

    /* header section */
.header-section{
    display: none;
}    

.mobile-header{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}


.hero-section {
    gap: 35px;
    flex-direction: column-reverse;
}

/* hero section */

.hero-img1 {
    width: 100%;
    height: 100%;
}
.hero-img2 {
    position: absolute;
    bottom: 22px;
    right: 20px;
    width: 90%;
    height: 90%;
    z-index: 1;
    filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.25));
}
.hero-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-tittle h1 {
    font-size: 1.56rem;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 40px;
    margin-bottom: 16px;
    text-align: center;
}

.hero-tittle p {
    text-align: center;
}

/* logo section */
.logos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    justify-items: center;
    row-gap: 25px;
    background: none;
}

.logos img{
    width: 100%;
}

.logos img:nth-child(5),
.logos img:nth-child(6),
.logos img:nth-child(7){
    grid-column: span 1;
    margin-left: 50px;
}

/* collection-card-all */
.collection-card-all {
    grid-template-columns: repeat(1, 1fr);
}


/* feature section */

.feature {
    flex-direction: column-reverse;
}

.feature-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-tittle h2 {
    font-size: 1.3rem;
    text-align: center;
}

.feature-tittle p {
    font-size: 10px;
    text-align: center;
}

}

@media screen and (min-width: 577px) and (max-width: 768px) {
   /* header section */
.header-section{
    display: none;
}    

.mobile-header{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}


.hero-section {
    gap: 35px;
    flex-direction: column-reverse;
}

/* hero section */

.hero-img1 {
    width: 100%;
    height: 100%;
}
.hero-img2 {
    position: absolute;
    bottom: 22px;
    right: 20px;
    width: 90%;
    height: 90%;
    z-index: 1;
    filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.25));
}
.hero-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-tittle h1 {
    font-size: 1.56rem;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 40px;
    margin-bottom: 16px;
    text-align: center;
}

.hero-tittle p {
    text-align: center;
}

/* logo section */
.logos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    justify-items: center;
    row-gap: 25px;
}

.logos img{
    width: 100%;
}

.logos img:nth-child(5),
.logos img:nth-child(6),
.logos img:nth-child(7){
    grid-column: span 1;
    margin-left: 50px;
}

/* collection-card-all */
.collection-card-all {
    grid-template-columns: repeat(2, 1fr);
}


/* feature section */

.feature {
    flex-direction: column-reverse;
}

.feature-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-tittle h2 {
    font-size: 2.3rem;
    text-align: center;
}

.feature-tittle p {
    font-size: 22px;
    text-align: center;
}
}


/* small laptop */
@media screen and (min-width: 769px) and (max-width: 992px) {
.feature-tittle p {
    font-size: 0.87rem;
}
}

/* large laptop */
@media screen and (min-width: 993px) and (max-width: 1200px) {
.hero-tittle h1 {
    font-size: 3rem;
}
}

/* extra large */
@media screen and (min-width: 1201px) and (max-width: 2560px) {
    .container {
    width: 95%;
    max-width: 2500px;
    margin: 0 auto;
}

}